/* Header Stuff */
	.header-bg {
		background-color: #000000;
	}

	.shoeBox-Logo {
		min-height: 4.5em;
		max-height: 7.5em;
		display: inline-block;
		transition: 1s ease-out;
	}

	.shoeBox-Logo:hover {
		transform: scale(1.05);
	}

	.white-shoe {
		color: #FFFFFF;

	}

	.pink-box {
		color: #Ff66cc;
	}

	.zine-purp{
		color: #330066;
	}

	.comic-green {
		color: #7ac943;
	}

	.nav-link {
		color: #7ac943;
		transition: .5s ease-out;
	}

	.nav-link:hover {
		color: #Ff66cc; 
		text-decoration: underline 5px;
		text-decoration-color: #Ff66cc;
		text-underline-offset: 8px;
	}

/* End Header Stuff


/* font sizes */
	h1 {
		font-size: 7.5em;



	}

	h2 {
		font-size: 120px;

	}

	h3 {
		font-size: 80px;

	}

	.shoeBox-tab {
		font-size: 53px;
	}

	p {
		font-size: 2.5em;
	}

	
	a .nav-link :hover :active {
		color: #000000;
		text-decoration: underline;
		text-decoration-color: #Ff66cc;
	}
/* end font sizes*/

/* Buttons*/
	div.para-button {
		transform: skew(-20deg);
		display: block;
		text-align: center;
		text-decoration: none;
		background-color: #7ac943;
		transition: scale 1s, box-shadow 1s;
	}

	div.para-button:hover {
		transform: skew(-20deg);
		box-shadow: -10px 10px rgb(255 102 204);


	}

	.para-button-link {
		color: #330066;
		font-size: 1.5em;
		text-decoration: none;
		transition: 1s ease-out;

	}

	.para-button-link:hover {
		font-weight: 500;
	}


	.pink-button {
		transform: skew(-10deg);
		display: block;
		text-align: center;
		text-decoration: none;
		background-color: #Ff66cc;
		color: #330066;
		background-clip: padding-box;
		box-shadow: -10px 10px rgb(51 0 102);
		transition: color 1s, background-color 1s, box-shadow 1s ease-out;
	}

	.pink-button-link {
		transform: skew(10deg);
		font-size: 2em;
		font-weight: 500;
	
	}

	.pink-button:hover {
		transform: skew(-10deg);
		color: #330066;
		background-color: #7ac943;
		box-shadow: -15px 15px rgb(51 0 102);
	}






/* End Buttons*/




/* Sour Gummy */
	.sour-gummy{
	  font-family: "Sour Gummy", sans-serif;
	  font-optical-sizing: auto;
	  font-weight: <weight>;
	  font-style: normal;
	  font-variation-settings:
	    "wdth" 100;
	}

	.sour-gummy-med-italic {
	  font-family: "Sour Gummy", sans-serif;
	  font-optical-sizing: auto;
	  font-weight: 500;
	  font-style: italic;
	  font-variation-settings:
	    "wdth" 100;
	}

	.sour-gummy-bold {
	  font-family: "Sour Gummy", sans-serif;
	  font-optical-sizing: auto;
	  font-weight: 700;
	  font-style: normal;
	  font-variation-settings:
	    "wdth" 100;
	}
/* End Sour Gummy */

/*Banner Stuff*/

	.banner {
		background-color: #330066;

	}

/*End Banner Stuff*/

/*Footer Stuff*/

	.footer {
		background-color: #000000;
		min-height: 240px;
	}

/*End Footer Stuff*/

/*Featured Section*/
	.features {
		background-image: url("../images/shoeboxBGGreen.webp");
		background-repeat: repeat-y;
		background-size: 100%;

	}

	.featured-section {
		transform: skew(-15deg);
		background-color: #330066;
	}


	.featured-work {
		height: 400px;
		width: 1360px;


	}

	.featured-row {
		min-height: 600px;
		height: auto;
	}


	.feat-comic01 {
		background-image: url("../images/snoreOlympus.webp");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}
	.feat-comic02 {
		background-image: url("../images/gruffGuy.webp");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}
	.feat-comic03 {
		background-image: url("../images/helpFish.webp");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}
	.feat-zine01 {
		background-image: url("../images/feelSad.webp");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}
	.feat-zine02 {
		background-image: url("../images/pantsZine.webp");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}
	.feat-zine03 {
		background-image: url("../images/codeZine.webp");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}

	.overlay {
		width: 100%;
		aspect-ratio: 2 / 3;
		background-color: rgb(51 0 102 / 90%);
		opacity: 0;
		transition: opacity 1s ease-out;
	}
	.overlay:hover {
		opacity: 1;
	}

	.feat-blurb {
		color: #FFFFFF;
		font-size: 2em;
	}
/*End Featured Section*/

/*Archive Section*/

	.archive-bg {
		background-color: #330066;

	}

	.archive-title {
		font-size: 6.5em;
		padding-bottom: -.5;
		line-height: .9;
	}

	.archive-desc {
		background-color: #7ac943;
		font-size: 1.5em;
		line-height: 1.25;
		border-radius: 10px;
	}

	.archive-nav-bg {
		background-color: #Ff66cc;
		min-height: 22.5em;
	}

	.archive-img-ratio {
		width: 432px;
		aspect-ratio: 2 / 3;
		
	}

	.archive-item {
		transition: 1s ease-out;

	}

	.archive-item:hover {
		transform: scale(.9);
		box-shadow: 0px 0px 10px 10px rgba(51 0 102 / 90%), 0px 0px 0px 20px rgb(255 102 204 / 75%);

	}


/*End Archive Section*/

/*Start Comic Info*/

	.comic-preview {
		background-image: url("../images/shoeboxBGPink.webp");
		background-repeat: repeat-y;
		background-size: 100%;
		
	}


	.comic-title {
		background-color: #330066;
	}

	.comic-portrait {
		box-shadow: -15px 15px rgb(122 201 67), -30px 30px rgb(51 0 102);
	}

	.comic-desc {
		background-color: #7ac943;
		font-size: 1.75em;
		box-shadow: -10px 10px rgb(51 0 102);
	}


/*End Comic Info*/

/*Start Comic Stage*/




	.comic-bg {
		background-image: url("../images/shoeboxBGPurple.webp");
		background-repeat: repeat-y;
		background-size: 100%;
	}

	.shoeBox-ham {
		display: flex;
		z-index: 2;
		position: absolute;
		top: 0;
		left: 0;
		width: 16%;
		height: 20%;
	}
	.shoeBox-ham-icon {
		width: 50%;
		aspect-ratio: 1;
		background-image: url("../images/shoeBoxHamburger.svg");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}

	.comic-stage-bg {
		background-color: #330066;
		background-clip: padding-box;
		box-shadow: inset 0px 0px 30px 30px rgba(33, 0, 66, 0.75);
		border-radius: 9px;
	}

	.carousel-control-prev-icon {
		background-image: url("../images/arrowPrev.svg");
		background-size: contain;
		background-position: center;
		width: 100%;
	}

	.carousel-control-next-icon {
		background-image: url("../images/arrowNext.svg");
		background-size: contain;
		background-position: center;
		width: 100%;

	}

	div.hidden-nav {
		background-color: #000000;
	}

	.hidden-nav-link {
		text-align: left;
		color: #7ac943;
		font-size: 2em;
		text-decoration: none;
		transition: 1s ease-out;

	}

	a.hidden-nav-link:hover {
		color: #Ff66cc;
		font-weight: 700;
		text-decoration: underline;
	}

	p.hidden-nav-link {
		margin-bottom: 0;
	}



	

/*End Comic Stage*/
